# 請填寫以下值，注意不要公開此檔案
discord_user_name="command_cat"
discord_user_id=1058383460043083787
discord_guild_id=1061475265924038758
discord_voice_channel_id=1275972884363477043
spotify_client_id=spotify_client_id
spotify_client_secret="spotify_client_secret"
node_host="freelavalink.com"
node_port=443
node_ssl=1
node_pw="lnstw is a gay"
discord_bot_token="MTEzOTUwMTI5MzA1MDEzODQ5NDM.Xr1lvm.JuaXH1FFL7Oerrfn0sOR581Oihf"
