# 請填寫以下值，注意不要公開此檔案
discord_user_name=
discord_user_id=
discord_guild_id=
discord_voice_channel_id=
spotify_client_id=YOUR_SPOTIFY_CLIENT_ID
spotify_client_secret=YOUR_SPOTIFY_CLIENT_SECRET
node_host="freelavalink.com"
node_port=443
node_ssl=1
node_pw="YOUR_LAVALINK_PASSWORD"
discord_bot_token="YOUR_DISCORD_BOT_TOKEN"
